.review_detail_content::after
{
	content: "";
	clear: both;
	display: table;
}
#plagiarism_result .review_inner_detail_image
{
	display:none !important;
}
.review_inner_detail_image
{
	width:200px;
	height:auto;
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	max-width: 100%;
	object-fit:cover;
	margin-top:5px;
	margin-bottom:5px;
	float:left;
	margin-right:10px;
}
.review_inner_detail_image img
{
	width:100%;
	height:100%;
	object-fit:cover;
}
.review_inner_detail_content
{
	margin-top:5px;
	margin-bottom:5px;
}
@media only screen and (max-width: 600px) {

  .review_inner_detail_image
  {
	width:100%;
	float:none;
	margin-bottom:10px;
  }
}

.table_blur
{
	 filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter: blur(4px);
}
.ajax_table_header
{
	margin-top:20px;
	margin-bottom:20px;
	display:flex;
	align-items:end;
	justify-content:right;
	margin-right:5px;
}
.ajax_table_header_inner
{
	float:left;
	margin-right:5px;
}
.ajax_table_header_inner .btn
{
	padding:.4375rem .875rem;
}
.ajax_table_loading
{
	display:none;
	width:100%;
	position:absolute;
	text-align:center;
	margin-top: 50px;
}


.scroll_domains
{
	height:856px;
	overflow:hidden;
	overflow-y:auto;
}
.scroll_domains::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scroll_domains::-webkit-scrollbar-track {
  background-color: transparent;
}
.scroll_domains::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
}
.scroll_domains::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.input-group > .select2-container {
    width: auto !important;
    flex: 1 1 auto;
}

.input-group > .select2-containerp .select2-selection--default {
    height: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
}
.content_site
{
	width: 230px;
	text-align:left;
}
.content_date
{
	width: 170px;
	
}
.content_views
{
	width: 120px;
	
}
.content_status
{
	width:150px;
}
.content_status i
{
	font-size:16px;
}
.content_image_detail
{
	text-align:center;
	padding: 0.25rem;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.1875rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    width: 100px;
    height: 100px;
}
.content_image
{
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:center;
}
.content_title_head
{
	width:100px;
}
.content_title
{
	display:block;
	flex:1;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
	text-align:left;
}
.content_textarea
{
	display:block;
	flex:1;
	text-align:left;
	min-height: 120px !important;
}
.content_actions
{
	width:100%;
}
.visitor_info i
{
	display:inline-block;
	width:20px;
	
}
.visitor_info span
{
	display:inline-block;
	width:110px;
	margin-left:5px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	line-height:1;
}
.visitor_info span.url
{
	width:210px;
}
.photo_image
{
	width:100%;
	height:200px;
	object-fit:cover;
	object-position:top;
}
.photo_title
{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}

.editor_content_photo_thumb
{
	width: 100%;
	height:100px;
	object-fit:cover;
}

@media (min-width: 576px)
{
	.modal-full {
		max-width: 94%;
		margin-left: 8%;
		margin-right: 8%;
	}
}